-r requirements.txt

coverage==7.2.4
pytest==7.3.1
pytest-asyncio==0.20.3
pytest-cov==3.0.0
pytest-homeassistant-custom-component==0.13.43
pytest-xdist==3.2.1

# for homeassistant cloud, also used by mobile app
hass-nabucasa
hassil
home-assistant-intents
webrtcvad

mutagen
deepdiff==6.3.0

# for sonos
soco==0.29.1
async_upnp_client==0.33.2
spotipy==2.23.0
plexapi==4.13.2
plexwebsocket==0.0.13

# sonos_websocket
sonos-websocket==0.1.2

# for mobile app
PyNaCl

# for telegram
python-telegram-bot==13.1

# for time
freezegun==1.2.2

Pillow
